main {
    background-image: url(../image/bg.png);
    background-color: rgb(#cccccc);
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    width: 100vw;
    height: 100vh;
}